@import './_variables.scss';
@import './_mixins.scss';

.bottom__container{
    @include desktop {
        display:flex;
        width:calc(1280px - 600px);
        margin: 24px auto;
    }
}

.left__container{
    @include desktop {
        padding-right:24px;
        margin-right:24px;
        border-right: 1px solid $mercury;
    }
}

.right__container{
    width:100%;
}